# Ignore everything
**

# Allow certain files and directories
!./src
!./package*.json
!./node_modules

# Recommended ignores, but we've ignored everything anyhow
.git
npm-debug
npm-debug.log
Dockerfile
.dockerignore